html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

text {
  font-size: 30px;
  font-family: "Arial", sans-serif;
}

.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 10fr 15fr 80fr;
}

#treesRow {
  /* background-color: white; */
  background-image: url("Pics/BackgroundFaded.jpg");
  background-size: 100% 100%;
}

#rainRow {
  background-color: lightgray;
}
