html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

text {
  font-size: 30px;
  font-family: "Arial", sans-serif;
  color: white;
}

.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 10fr 10fr 80fr;
  background-image: url("Pics/BackgroundFaded.jpg");
  background-size: 100% 100%;
}
